:root {
  --color-primary: #fff;
  --color-accent: #d4c17f;

  --color-background-primary: #242b33;
  --color-background-secondary: #2d343c;

  --font-family-primary: "Raleway", sans-serif;
  --font-family-title: "Playfair Display", serif;

  --input-color-text: #fff;
  --input-color-background: #565b60;
  --input-color-placeholder: #bebebe;
}
html {
  scroll-behavior: smooth;
}
p {
  margin: 0%;
}
img,
video {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
}
body {
  margin: 0;
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-family-primary);
  font-weight: 400;
  background-color: var(--color-background-primary);
}
main {
  margin-top: 124px;
}
::selection {
  color: var(--color-primary);
  background-color: var(--color-accent);
}
.container {
  max-width: 100%;
  width: 1142px;
  margin: 0 auto;
  padding: 0 16px;
}
section {
  padding: 90px 0;
}
.title {
  font-family: var(--font-family-title);
  color: var(--color-accent);
  font-family: var(--font-family-title);
  font-size: 36px;
  line-height: 1.3333;
}

/*header*/

.header-menu {
  display: flex;
}
header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  background-color: var(--color-background-primary);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu-item {
  position: relative;
  display: flex;
  margin-right: 12px;
  padding: 8px 12px;
}
.header-menu-item:hover .submenu {
  display: block;
}

.button {
  padding: 10px 40px;
  background: var(--color-accent);
  color: #ffffff;
  border: 1px solid #d4c17f;
}
.button:hover {
  background-color: var(--color-accent);
  box-shadow: 0px 1px 1px 4px var(--color-background-primary),
    0px 0px 4px 4px var(--color-accent);
  transform: scale(1.1);
}

.link {
  padding: 8px 12px;
  color: var(--color-primary);
  font-size: 14px;
  line-height: 1.15;
  text-decoration: none;
}
.link:hover,
.link:hover {
  color: var(--color-accent);
  text-decoration: underline;
}
/*Submenu*/
.submenu {
  position: absolute;
  top: 40px;
  left: 24px;
  background-color: var(--color-background-primary);
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.25);
  display: none;
}
.submenu-link {
  width: 100%;
  padding: 6px 16px;
}
/*hero*/
.hero-section {
  background-image: linear-gradient(
      180deg,
      var(--color-background-primary) 6.56%,
      rgba(36, 43, 51, 0.3) 50.31%,
      var(--color-background-primary) 89.37%
    ),
    url("../images/Hero-background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}
.hero-section-title {
  max-width: 556px;
  margin: 0 auto 100px;
  font-family: var(--font-family-title);
  font-size: 48px;
  color: var(--color-accent);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.hero-section-mouse-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-accent);
  animation-name: bounce;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.hero-section-mouse-icon:hover {
  animation-play-state: paused;
}
/*contacts*/

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 200px;
}
.contacts-item {
  display: flex;
  align-items: center;
}

.contacts-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  fill: var(--color-primary);
}
.contacts-item:hover .contacts-icon {
  fill: var(--color-accent);
}

/*Benefit*/

.benefit-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.benefit-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.benefit-icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 3rem;
  fill: var(--color-accent);
}
.benefit-caption {
  max-width: 12rem;
  justify-content: center;
  text-align: center;
}

/*Flat*/

.flat-section-list {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
}

.flat-section-item-wrap {
  padding: 16px;
}
.flat-section-item {
  position: relative;
  flex-basis: 50%;
  overflow: hidden;
  cursor: pointer;
}

.flat-section-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    transparent 0%,
    var(--color-background-primary) 100%
  );
}

.flat-section-img {
  width: 100%;
  height: 100%;
}
.flat-section-name {
  position: absolute;
  left: 31px;
  bottom: 26px;
  display: block;
}
.flat-section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem;
  background-color: var(--color-background-primary);
  transform: translateY(100%);
  transition: transform 250ms;
  opacity: 0.8;
}
.flat-section-item:hover .flat-section-overlay {
  transform: translateY(0%);
}

/*Price table*/

.prices-table {
  width: 100%;
  border-collapse: collapse;
}
.prices-table caption {
  margin-bottom: 24px;
  text-align: left;
}
.prices-table td,
.prices-table th {
  padding: 8px 16px;
  border: 1px solid var(--color-primary);
  text-align: left;
}
.prices-table thead,
.prices-table tfoot {
  background-color: rgba(255, 255, 255, 0.1);
}
tbody > tr:hover {
  background-color: var(--color-accent);
}
/*Call-to-action*/
.cta-section {
  background-color: var(--color-background-primary);
  background-image: url("../images/cta-bakground-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.cta-section-text {
  margin-bottom: 24px;
}

/*video-section*/
.video-section-inner {
  width: 720px;
  height: 650px;
  margin: 0 auto;
}
.video-section-content {
  object-fit: cover;
}
/*Map*/

.section > title {
  margin: 0 auto;
}
.section-map {
  width: 100%;
}
.map-gogle {
  width: 100%;
}
/*Social*/
.social {
  display: flex;
  align-items: center;
  margin-left: -10px;
}
.social-link {
  padding: 0.5rem;
}
.social-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-primary);
}
.social-link:hover .social-icon {
  fill: var(--color-accent);
}
/*footer*/
.footer {
  padding: 48px 0;
  background-color: var(--color-background-secondary);
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.foter-contacts {
  font-style: normal;
}
/*Form field*/
.form-field {
  margin-bottom: 1.5rem;
}
.form-field-title {
  margin-bottom: 1rem;
}
.form-field-label {
  display: block;
  margin-bottom: 1.5rem;
}
.form-field-input {
  width: 100%;
  height: 50px;
  padding: 0.75rem 1rem;
  color: var(--input-color-text);
  font-family: inherit;
  background-color: var(--input-color-background);
  border: 0;
}
.form-field-input::placeholder {
  color: var(--input-color-placeholder);
}
.form-field-range {
  width: 100%;
}
.form-field-textarea {
  height: 8.75rem;
  resize: none;
}
.form-field-button {
  width: 100%;
}
/*Modal*/
.backdrop.is-hidden {
}
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 43, 51, 0.6);
  transition: opacity 500ms, visibility 500ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  width: 540px;
  max-height: 600px;
  height: 100%;
  background-color: var(--color-background-primary);
  box-shadow: 0px 0px 6px 6px rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}
.modal-inner {
  padding: 2.5rem 3rem;
}
.modal-title {
  margin-bottom: 2rem;
}
.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
